body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; 
}

header {
  background-color: #ffffff;
  border-bottom: 2px solid #ddd;
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img{
  height: 50px;
  margin-right: 10px;
}

.barra-pesquisa{
  flex-grow: 1;
  margin-left: 20px;
  display: flex;
}

.barra-pesquisa input{
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}

.barra-pesquisa button{
  background-color: #211F81;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.banner{
  text-align: center;
  font-weight: bold;
  background-color: #ffffff;
  color: #211F81;
  padding: 10px 0;
  margin-bottom: 10px;
}

.banner span{
  color: #D61E1D;
}

.secao-noticias{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.secao-noticias h2{
  color: #211F81;
  margin-bottom: 20px;
}

.card-noticias{
  padding: 15px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-noticias h3{
  color: #D61E1D;
  margin: 0;
  font-size: 1.2rem;
}

.card-noticias  img{
  max-width: 970px;
  max-height: 420px;
}
